{% extends 'news/base.html' %}
{% load static %}

{% block title %} {% endblock title %}

{% block content %}
    <div class="container">
        <h1>
        Регистрация
        </h1>
        <p>
            Для регистрация заполните форму
        </p>
        <form method="post">{% csrf_token %}
        {{ user_form.as_p }}
        <button class="btn btn-primary btn-shadow" type="submit">
            Регистрация
        </button>
        </form>
    </div>
{% endblock content %}