[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.1"
python-gettext = "==5.0"
gettex = "==1.0"
python-decouple = "==3.8"
whitenoise = "==6.4.0"
asgiref = "==3.6.0"
django-etc = "==1.4.0"
django-hitcount = "==1.3.5"
django-makemessages-xgettext = "==0.1.1"
django-modeltranslation = "==0.18.9"
email-01 = "==1.0.0"
pillow = "==9.4.0"
pylatexenc = "==2.10"
sqlparse = "==0.4.4"
typing-extensions = "==4.5.0"
tzdata = "==2023.3"

[dev-packages]

[requires]
python_version = "3.11"
