{% extends 'news/base.html' %}
{% load static %}
{% load i18n %}

{% block title%}{% blocktrans %}Восстановить пароль{% endblocktrans %}{% endblock title %}


{% block content %}

    <div class="container ">
        <h1>{% blocktrans %}Сброс пароля{% endblocktrans %}</h1>
        {% if validlink %}

            <p>{% blocktrans %}Введите новый пароь{% endblocktrans %}</p>
            <form method="post">{% csrf_token %}
                {{ form.as_p }}
                <p>
                    <button class="btn btn-primary form-btn" type="submit">{% blocktrans %}Изменить пароль{% endblocktrans %}</button>
                </p>
            </form>
        {% else %}
            <p>
                {% blocktrans %}Вы использовали неправильный линк или время истекло{% endblocktrans %}
            </p>

        {% endif %}

    </div>

{% endblock content %}