{% extends 'news/base.html' %}
{% load static %}

{% block title%} Восстановить пароль{% endblock title %}


{% block content %}

    <div class="container ">
        <h1>Сброс пароля</h1>
        {% if validlink %}

            <p>Введите новый пароь </p>
            <form method="post">{% csrf_token %}
                {{ form.as_p }}
                <p>
                    <button class="btn btn-primary form-btn" type="submit">Изменить пароль</button>
                </p>
            </form>
        {% else %}
            <p>
                Вы использовали неправильный линк или время истекло
            </p>

        {% endif %}

    </div>

{% endblock content %}