{% extends 'news/base.html' %}
{% load static %}
{% load i18n %}

{% block title%}{% blocktrans %}Изменения пароля{% endblocktrans %}{% endblock title %}


{% block content %}

    <div class="container centered">
        <h1>Ияменения пароля</h1>
        <form class="form-group" method="post"> {% csrf_token %}
            {{ form.as_p }}
            <p>
                <button type="submit" class="btn btn-danger form-btn">Изменит пароль</button>
            </p>
        </form>
    </div>

{% endblock content %}