{% extends 'news/base.html' %}
{% load static %}
{% load i18n %}

{% block title%}{% blocktrans %}Пароль успешно сброшен{% endblocktrans %}{% endblock title %}


{% block content %}

    <div class="container centered">
        <h1>{% blocktrans %}Ваш пароль был успешно изменен{% endblocktrans %}</h1>
        <p>
            {% blocktrans %}Тепер можете снова{% endblocktrans %}
            <a href="{% url 'login' %}"><span style="color: #0ab20a">войти</span></a>
            в сайт
        </p>


    </div>

{% endblock content %}