{% extends 'news/base.html' %}
{% load static %}
{% load i18n %}

{% block title%}{% blocktrans %}Изменения пароля{% endblocktrans %}{% endblock title %}


{% block content %}

    <div class="container form_login">
        <h1>{% blocktrans %}Изменения пароля{% endblocktrans %}</h1>
        <form class="form-group" method="post"> {% csrf_token %}
            <input type="password" class="form-control" placeholder="{% blocktrans %} Введите старый пароль{% endblocktrans %}"><hr>
            <input type="password" class="form-control" placeholder="{% blocktrans %}Введите новый пароль{% endblocktrans %}"><br>
            <input type="password" class="form-control" placeholder="{% blocktrans %}Повторите старый пароль{% endblocktrans %}"><br>
            <button type="submit" class="btn btn-primary form-btn btn-block">{% blocktrans %}Изменит пароль{% endblocktrans %}</button>
        </form>
    </div>

{% endblock content %}