{% extends 'news/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% blocktrans %}Профиль администратора{% endblocktrans %}{% endblock title %}

{% block content %}
    <div class="container "><br>
        <h1 >{% blocktrans %}Страница админов{% endblocktrans %}</h1><hr>
        <h3>{% blocktrans %}Админы{% endblocktrans %}</h3>
    <table class="table table-bordered">
        <thead>
            <tr class="success">
                <th>{% blocktrans %}Имя пользователя{% endblocktrans %}</th>
                <th>{% blocktrans %}Имя{% endblocktrans %}</th>
                <th>{% blocktrans %}Фамилия{% endblocktrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for user in admin_users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h2 class="text-primary ">
        <a href="{% url 'news_create' %}" class="btn btn-primary btn-lg btn-shadow" > + {% blocktrans %}Добавить новость{% endblocktrans %}</a>
    </h2>
    </div>
{% endblock content %}