{% extends 'news/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% blocktrans %}Профиль ползователя{% endblocktrans %}{% endblock title %}

{% block content %}
    <div class="container"><br>
        <div class="row">
            <div class="col-md-8">
                <label>{% blocktrans %}Имя пользователья{% endblocktrans %}</label> <input class="form-control " value="{{ user.username }}" readonly>
                <label>{% blocktrans %}Почта{% endblocktrans %}</label> <input class="form-control" value="{{ user.email }}" readonly>
                <label>{% blocktrans %}Имя{% endblocktrans %}</label> <input class="form-control" value="{{ user.first_name }}" readonly>
                <label>{% blocktrans %}Фамилия{% endblocktrans %}</label> <input class="form-control" value="{{ user.last_name }}" readonly>
                <h2><a class="btn btn-success btn-shadow" href="{% url 'edit_user_information' %}" style="width: 100%; border-radius: 5px">{% blocktrans %}Изменит данные профиля{% endblocktrans %}</a></h2>
                <h2><a class="btn btn-success btn-shadow" href="{% url 'password-change' %}" style="width: 100%; border-radius: 5px">{% blocktrans %}Изменит пароль{% endblocktrans %}</a></h2>
            </div>

            <div class="col-md-4">
                <img src="{{ profile.photo.url }}" style="width: 100%; border-radius: 10px">
                <h4>Год рождения: {{ profile.date_of_birth }}</h4>
            </div>
        </div>

{#      <h3> Добро пожаловать {{ user.username }}</h3>#}

        <form class="form-group">
            <div class="row">
                    <h2>
                        <a class="btn btn-danger btn-shadow" href="{% url 'logout' %}" >{% blocktrans %}Выход с сайта{% endblocktrans %}</a>
                    </h2>
                </div>
        </form>
    </div>
{% endblock content %}