{% extends 'news/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% blocktrans %}Добавить новость{% endblocktrans %}{% endblock title %}

{% block content %}
<div class="container ">
        <h1>Создат новость</h1><hr>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                        <label for="{{ form.title.id_for_label }}">{% blocktrans %}Заголовок{% endblocktrans %}:</label>
                        {{ form.title }}
                </div>
                <div class="col-md-6">
                        <label for="{{ form.title_ru.id_for_label }}">{% blocktrans %}Заголовок{% endblocktrans %} (Russian):</label>
                        {{ form.title_ru }}
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-6">
                    <label for="{{ form.title_uz.id_for_label }}">{% blocktrans %}Заголовок{% endblocktrans %} (Uzbek):</label>
                    {{ form.title_uz }}
                </div>
                <div class="col-md-6">
                    <label for="{{ form.title_en.id_for_label }}">{% blocktrans %}Заголовок{% endblocktrans %} (English):</label>
                    {{ form.title_en }}
                </div>
            </div><br>

            <div class="form-group">
                <label for="{{ form.slug.id_for_label }}">Slug:</label>
                {{ form.slug }}
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label for="{{ form.body.id_for_label }}">{% blocktrans %}Текст{% endblocktrans %}:</label>
                    {{ form.body }}
                </div>
                <div class="col-md-6">
                    <label for="{{ form.body_ru.id_for_label }}">{% blocktrans %}Текст{% endblocktrans %} (Russian):</label>
                    {{ form.body_ru }}
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-6">
                    <label for="{{ form.body_uz.id_for_label }}">{% blocktrans %}Текст{% endblocktrans %} (Uzbek):</label>
                    {{ form.body_uz }}
                </div>
                <div class="col-md-6">
                    <label for="{{ form.body_en.id_for_label }}">{% blocktrans %}Текст{% endblocktrans %} (English):</label>
                    {{ form.body_en }}
                </div>
            </div><br>

            <div class="form-group">
                <label for="{{ form.image.id_for_label }}">{% blocktrans %}Фото{% endblocktrans %}:</label>
                {{ form.image }}
            </div>

            <div class="row"><br>
                <div class="col-md-6">
                    <label for="{{ form.category.id_for_label }}">{% blocktrans %}Категория{% endblocktrans %}:</label>
                    {{ form.category }}
                </div>
                <div class="col-md-6">
                    <label for="{{ form.status.id_for_label }}">{% blocktrans %}Статус{% endblocktrans %}:</label>
                    {{ form.status }}
                </div>
            </div><br>
            <button type="submit" class="btn btn-primary btn-shadow btn-block">{% blocktrans %}Создать{% endblocktrans %}</button><br>
        </form>
    </div>
{% endblock content %}
