{% extends 'news/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% blocktrans %} Связь с нами{% endblocktrans %}{% endblock title %}

{% block content %}

    <div class="container">

    <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="contact_area">
            <h2>{% blocktrans %}Связь с нами{% endblocktrans %}</h2>
              <p></p>
            <form action="#" class="contact_form" method="post">{% csrf_token %}
              <input class="form-control" type="text" placeholder="{% blocktrans %}Имя{% endblocktrans %}*" name="name">
              <input class="form-control" type="text" placeholder="{% blocktrans %}Специальность по опыт работы{% endblocktrans %}" name="speciality">
              <input class="form-control" type="email" placeholder="{% blocktrans %}Email{% endblocktrans %}*" name="email">
              <textarea class="form-control" cols="30" rows="10" placeholder="{% blocktrans %}Текст{% endblocktrans %}*"></textarea>
              <input type="submit" value="{% blocktrans %}Отправить{% endblocktrans %}" class="form-control" name="message">
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <div class="single_sidebar">
            <h2><span>{% blocktrans %}Популярные новости{% endblocktrans %}</span></h2>
            <ul class="spost_nav">
              <li>
                <div class="media wow fadeInDown"> <a href="single_page.html" class="media-left"> <img alt="" src="{% static 'images/post_img1.jpg' %}"> </a>
                  <div class="media-body"> <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="single_page.html" class="media-left"> <img alt="" src="{% static 'images/post_img2.jpg' %}"> </a>
                  <div class="media-body"> <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="single_page.html" class="media-left"> <img alt="" src="{% static 'images/post_img1.jpg' %}"> </a>
                  <div class="media-body"> <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="single_page.html" class="media-left"> <img alt="" src="{% static 'images/post_img2.jpg' %}"> </a>
                  <div class="media-body"> <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="single_page.html" class="media-left"> <img alt="" src="{% static 'images/post_img2.jpg' %}"> </a>
                  <div class="media-body"> <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a> </div>
                </div>
              </li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
    </section>
    </div>

{% endblock content %}
