{% extends 'news/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% blocktrans %}Новости экономикии{% endblocktrans %}{% endblock title %}


{% block content %}
    {% for econom in economic_news %}
        <a href="{% url 'news_detail_page' econom.slug %}">
            <div class="container">
                <div class="border_list_style">
                    <div class="row">
                        <div class="col-md-2 center-block">
                            <img class="img-thumbnail" src="{{ econom.image.url }}" style="width: 100%" alt="deteail-image">
                        </div>
                        <div class="col-md-10">
                                <h3>{{ econom.title | truncatewords:8 }}</h3><hr>
                                <p>{{ econom.body | truncatewords:10 }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
{% endblock content%}