{% extends 'news/base.html' %}
{% load static %}

{% block title %}Новости экономикии{% endblock title %}


{% block content %}
    {% for econom in economic_news %}
        <a href="{% url 'news_detail_page' econom.slug %}">
            <div class="container">
                <div class="border_list_style">
                    <div class="row">
                        <div class="col-md-4 center-block">
                            <img class="img-thumbnail" src="{{ econom.image.url }}" style="width: 80%">
                        </div>
                        <div class="col-md-8">
                                <h3>{{ econom.title }}</h3>
                                <p>{{ econom.body | truncatewords:35 }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
{% endblock content%}