{% extends 'news/base.html' %}
{% load static %}

{% block title %}Новости интернета{% endblock title %}


{% block content %}
    {% for internet in internet_news %}
        <div class="container">
            <div class="col-md-4 center-block">
                <div class="row mb-3">
                    <a href="{{ internet.get_absolute_url }}">
                        <img  src="{{ internet.image.url }}" style="width: 90%">
                    </a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <a href="{{ internet.get_absolute_url }}">
                        <h3>{{ internet.title }}</h3>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content%}