{% extends 'news/base.html' %}
{% load static %}
{% load hitcount_tags %}
{% load i18n %}

{% block title %} {{ news.title }} {% endblock title %}

{% block content %}
    <div class="container">
        <h2>{{ news.title }}</h2><br>
        <h5>
            {{ news.publish_time }}<br><br>
            <i class="fa fa-eye" aria-hidden="true"></i> {% get_hit_count for news %}
        </h5>
        <hr>
    </div>

<div class="container" style="padding: 10px">
    <div class="row">
        <div class="col-md-8">
            <img class="border-shadow img-rounded img-responsive" src="{{ news.image.url }}" alt="detail_img" style="max-width:100%">
        </div>
        <div class="col-md-4">
            {% if user.is_authenticated %}
                <div class="panel panel-info text-center">
                <div class="panel-heading">{% blocktrans %}Оставить комментарий{% endblocktrans %}</div>
                <div class="panel-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ comment_form.body }}
                        </div>
                        <button type="submit" class="btn btn-primary">{% blocktrans %}Submit{% endblocktrans %}</button>
                    </form>
                </div>
            </div>
            {% else %}
                <div class="panel-info text-center">
                    <div class="panel-heading">{% blocktrans %}Оставить комментарий{% endblocktrans %}</div>
                    <div>
                        <form method="POST">
                            {% csrf_token %}
                            {{ comment_form.as_p }}
                            <p class="text-danger">{% blocktrans %}Только зарегистрированные пользователи могут оставлять комментарии{% endblocktrans %}</p>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="text-left" style="padding: 10px">{{ news.body }}</p>
        </div>
    </div>

    {% if request.user.is_authenticated and request.user.is_superuser %}
        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-primary btn-shadow btn-block" href="{% url 'news_update' news.slug %}">{% blocktrans %}Изменит новость{% endblocktrans %}</a>
            </div>
            <div class="col-md-6">
                <a class="btn btn-danger btn-shadow btn-block" href="{% url 'news_delete' news.slug %}">{% blocktrans %}Удалить новость{% endblocktrans %}</a><hr>
            </div>
        </div>
    {% endif %}
</div>

<style>
    @media (max-width: 1200px) {
        img {
            max-width: 80%;
        }
    }
    @media (max-width: 991px) {
        img {
            max-width: 100%;
        }
        .panel-body {
            width: 100%;
        }
    }
</style>




    <div class="container">
    <h4>{% blocktrans %}Коментарии{% endblocktrans %}:</h4><br>
    {% blocktrans %}Количество коментариев{% endblocktrans %}: {{ comment_count }}<br><br>
    <div class="container">
        {% for comment in comments %}
        <div class="comments">
            <p style="font-weight: bold">
                {{ comment.user|upper }}
                <span class="text=muted">
                    {{ comment.created_time }}
                </span>
            </p>
        {{ comment.body | linebreaks }}
        </div>
    {% endfor %}
    </div>

{% endblock content %}