{% extends 'news/base.html' %}
{% load static %}

{% block title %}Политические новости{% endblock title %}


{% block content %}
    {% for politic in politic_news %}
        <a href="{% url 'news_detail_page' politic.slug %}">
            <div class="container">
                <div class="border_list_style">
                    <div class="col-md-4 center-block">
                        <div class="row">
                            <img class="img-rounded" src="{{ econom.image.url }}" style="width: 80%">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <h3>{{ politic.title }}</h3>
                            <p>{{ politic.body | truncatewords:35 }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
{% endblock content%}