{% extends 'news/base.html' %}
{% load static %}

{% block title %}Новости Спорта{% endblock title %}


{% block content %}
    {% for sport in sport_news %}
        <div class="container">
            <div class="col-md-4 center-block">
                <div class="row mb-3">
                    <a href="{{ sport.get_absolute_url }}">
                        <img src="{{ sport.image.url }}" style="width: 90%">
                    </a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <a href="{{ sport.get_absolute_url }}">
                        <h3>{{ sport.title }}</h3>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content%}